/* border обводка
height - обозначение высоты
width - ширина
*/

* {
    /*margin: 0;*/
    /*width: 0;*/
    color: antiquewhite;
    font-family: sans-serif;
}

/*.container{*/
/*}*/
/*}*/

html {
    background-color: #808080;
}

.navbar{
    border: orange 1px solid;
    border-radius: 10px;
    background: #686868;
    position: relative;
    display: flex;
padding: 50px;
}

.navbar-brand{
    list-style: none;
    position: relative;
    display: flex;
    width: 350px
}

.navbar-nav{ /* /Blog, About  */
 display: flex;
    height: 0;
    line-height: 0;
list-style: none;
}

.nav-item{
    margin: 20px; /* отступы /blog /about */
}
/* block for post*/

.posts{
}

.post{
    background: #404040;
    border: 1px solid silver; /* Обводка со значением в 1 пиксель и методом solid и hex цветом*/
    margin: 50px;
    /*margin-bottom: .75rem;*/
    font-size: 1.25rem;
}

/*.text-muted, .card-img-top{*/
/*padding: 25rem;*/
/*}*/
.card-title{
    color: orange;
}

.card-title,.mt-2{
}


/*.text-muted{*/
/*    text-align: left;*/
/*    margin: 76rem;*/
/*}*/

/* End block for post*/

.pagination{
    background: #2c6a31;
    box-sizing: border-box;
    display: flex; /* flex container */
    padding-left:0; /* внутренние отступы равные нулю*/
    list-style: none; /* убирает круги */
    border-radius: .25rem; /* скругление */
    /*margin: 20px;*/
    margin-top: 0; /* ноль отступов вверх */
    margin-bottom: 1rem; /* 1rem отступов внизу элемента */
        text-align: left /* Текст находится: Left */
}
/*pagination .page-link {*/
.page-link { /* более коректный выбор  */
    position: relative;
    display: block;
    border-radius: 10rem;
    /*border-top-left-radius: .25rem;*/
    /*border-bottom-left-radius: .25rem;*/
    padding: .5rem .75rem;
    line-height: 1.25;
    margin: 5px;
}

.page-item.active .page-link{
    color: #ffffff;
    background: dodgerblue;
    border: dodgerblue;
}
