/* border обводка
height - обозначение высоты
width - ширина
pagination navbar form control footer
color через hover плохая идея
*/
* {

    box-sizing: border-box;
    font-family: roboto sans-serif;
    margin: 0;
    padding: 0;
    /*
    /*Поиск выпирающих элементов
    outline: 4px solid green !important;*/

}

body {
    font-size: 1rem;
    line-height: 1.5;
    color: #ffffff;
}

html {
    background-color: #15171e;
}

.container-visible {
    padding-top: 10rem;
    /* 70 default*/
}

.container {
    max-width: 1140px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container-fluid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.BuilderEditor_body-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #24242d;
    border-radius: 3.5%;
    position: relative;
    flex-wrap: wrap;
}

.BuilderEditor_header-form {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.EditorBuilder-form {
    display: flex;
    padding: .8rem .4rem;
    font-size: 1rem;
    color: #ffffff;
    background-color: #3d3d3f;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    /*width: 45rem;*/
    margin-bottom: 4.25%;


}

input.EditorBuilder-form {
    width: fit-content;
}

.form-group {
    margin-bottom: 1rem;

}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    background-color: #3d3d3f;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.5rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    margin-bottom: 10px;
}


.navbar {
    background-color: #2b2b30;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    border-top: 1px solid #5a5a63;
    border-bottom: 1px solid #5a5a63;
    color: #ffffff
}


.navbar-brand {
    color: #fff;
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.nav-button {
    margin-left: .25rem;
    margin-right: .25rem;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    height: 13%;
}

.nav-button-last-button {
    margin-right: 1.5rem;
}

.nav__body-buttons {
    display: flex;
    align-items: center;
}

.nav_button-body__lastbutton{
    margin-right: .75rem;
}

.button-nearby-post {
    margin-left: .25rem;
    margin-right: 40px;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form__body-button {
    justify-content: center;
    display: flex;
}

.form-button {
    display: flex;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    margin-bottom: 1rem;
}

.post__body {
    /* container? */
    color: #084c9a;
    border-radius: 5px;
    background-color: transparent;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    border: 5px solid transparent;
    flex-direction: column;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.post__body-hover:hover {
    transform: scale(1.02);
    box-shadow: 0.25rem 0 0.5rem rgba(94, 94, 94, 0.3), -0.25rem 0 0.5rem rgba(94, 94, 94, 0.3);
}


.post__body-colors {
    border-top: 1px solid #5a5a63;
    /*border-right: 1px solid #5a5a63;*/
    background-color: #23252b;
}

.post-title {
    margin-top: 0.25rem;
    margin-bottom: 0.2rem;
    display: flex;
    font-size: large;
    position: relative;
    text-align: right;
}

.post-title:first-of-type {
    color: #007bff;
}


.post-content {
    margin-top: 0.3rem;
    font-size: large;
    position: relative;
    top: -0.7rem;
}

.post-tags {
    margin-top: 0.5rem;
}

.post-tags-color {
    border: #3ead28;
    color: #3ead28;
}

.post_read-more {
    font-size: smaller;
}

.post-publication-date {
    color: darkgoldenrod;
    text-align: right;
}

.post-header {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.post-toolbar {
    width: fit-content;
    border-radius: 20px;
    background-color: #2f3031;
    border-bottom: 1px solid #5a5a63;
    color: darkorange;
    margin-bottom: 5px;
}


.post-filter__body {
    color: #d1c5c5;
    margin-left: .25rem;
    margin-right: .25rem;
}

.post_img_body {
    background-color: #9a8b8b;
    align-items: center;
    flex-direction: row;
    margin-bottom: 10px;
    display: flex;
    border-radius: 2.5rem;
    width: fit-content;
    height: fit-content;
}

.post_img_body-shadow:hover {
    transform: scale(1.02);
    border-radius: 2.5rem;
    box-shadow: 0.25rem 0 0.5rem rgba(255, 255, 255, 0.3), -0.25rem 0 0.5rem rgba(248, 241, 241, 0.3);
}

.post-img {
    height: 25rem;
}

.position {
    display: flex;
    flex-direction: row;
}

.post-tags {
    margin-top: .5rem;
}

.profile__body {
    display: flex;
    background: #21242e;
    border-radius: 0.5rem;
    width: fit-content;
    flex-wrap: wrap;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    border: 8px solid transparent;
    color: #ffffff
}

.profile__body-color {
    border: rgba(68, 73, 85, 0.6) 1px solid;
}

.profile__body-color:hover {
    box-shadow: 0.375rem 0 0.75rem rgba(68, 73, 85, 0.6), -0.375rem 0 0.75rem rgba(68, 73, 85, 0.6);
}

.profile_info {
    margin-top: .3rem;
    margin-bottom: .8rem;
}

.avatar-full {
    height: 9rem;
    border-radius: 25%;
    display: flex;
    color: #ffffff;
}

.post_edit-body {
    text-align: right;
    margin-top: 0.50rem;
}

.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    justify-content: center;
    /*border-radius: .25rem;*/
    position: relative;
    /*top: +7px;*/
}

.pagination-body {
    display: flex;
    justify-content: center;
    margin-left: .95rem;
    margin-right: .95rem;
}


.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.page-item:first-child .page-link {
    border-radius: .5rem;
}

.page-link {
    color: #ffffff;
    position: relative;
    display: block;
    padding: .5rem .75rem;
    line-height: 1.25;
    border: 1px solid #51515A;
    border-radius: 0.5rem;
}

.profile-title {
    color: #e0e0e0;
    font-size: x-large;
}

.ico__view-body {
    margin-bottom: 10px;
}


.ico__view-bodycolors {
    display: inline-block;
    width: 15rem;
    height: 15rem;
    border-radius: 5rem;
    background-color: transparent;
}

.ico__view-visible-colors {
    background-color: #898da1;
    border-radius: 5rem;
}

.ico__view-bodycolors:hover {
    transform: scale(1.02);
    box-shadow: 0.25rem 0 0.5rem rgb(184, 182, 182), -0.25rem 0 0.5rem rgb(184, 182, 182);
    background-color: #ffffff;
}

.text-avatar {
    position: relative;
    left: 3.8rem;
    color: #2f3031;
    font-size: xx-large;
}

.select-avatar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 7rem;
    align-content: space-between;
    border-radius: 10% 20%;
    margin-left: 3.9rem;
}


.comment-text {
    margin-bottom: .75rem;
}

.Comment__Desc-main {
    margin-top: 1.5rem;
}

.comment_h3-body {
    margin-top: 3rem;
}

.comment-img {
    width: 7.5rem;
    /*
    Or height: 7.5rem;
     */
}

.authentication {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #24242d;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 2rem;
    box-shadow: 0.4rem 0 0.25rem rgba(74, 65, 65, 0.3), -0.25rem 0 .75rem rgba(76, 67, 67, 0.3);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    /* align-items: center; */
    /* width: 50%; */
}

.authentication:hover{
    box-shadow: .75rem 0 1.5rem rgba(179, 163, 163, 0.3), -.75rem 0 .75rem rgba(179, 163, 163, 0.3);
}

.authentication__body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
    background-color: #23252b;
    margin-bottom: 1rem;
}


.Authentication__header {
    padding: .75rem 1.25rem;
    background-color: rgba(0, 0, 0, .03);
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.logout-color {
    color: #dc3545;
    border-color: #dc3545;
}

.logout-color:hover {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.user-color {
    color: #17a2b8;
    border-color: #17a2b8;
}

.user-color:hover {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.auth-color {
    color: #007bff;
    border-color: #007bff;
}

.auth-color:hover {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.builder-color {
    color: #28a745;
    border-color: #28a745;
}

.builder-color:hover {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.info-color {
    color: #d9a336;
    border-color: #d9a336;
}

.info-color:hover {
    color: #ffffff;
    background-color: #d9a336;
    border-color: #d9a336;
}

.secret-color {
    color: #0f773d;
    border-color: #0f773d;
}

.secret-color:hover {
    color: #ffffff;
    background-color: #0f773d;
    border-color: #0f773d;
}

.profile__role-color {
    background-color: #9c9694;
    color: #ffffff;
}

.comment-color {
    background-color: #393d49;
    margin-bottom: 0.3rem;
}

.collapse-color {
    color: #6c6c6c;
    border-color: #6c6c6c;
}

.collapse-color:hover {
    color: #fff;
    background-color: #6c6c6c;
    border-color: #6c6c6c;
}

.post-tags-color {
    border-color: #3ead28;
    color: #3ead28;
}

.post-tags-color:hover {
    color: #fff;
    background-color: #3ead28;
    border-color: #3ead28;
}

.auth-button {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.avatar {
    border-radius: 50%;
    border-style: none;
    padding: .25rem;
    width: 45px;
    height: 45px;
}

.user__body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    color: #ffffff;
}


.footer {
    display: block;

    position: marker;

    padding: 1rem;

    margin-top: 6rem;

}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.latestPosts {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: .5rem;
    margin-top: 1rem;
}

.mb-3 {
    margin-bottom: 1rem;
}

.mt-3 {
    margin-top: 1rem;
}


.text-muted {
    color: #6c757d;
}

.bg-test {
    background: linear-gradient(60deg, #0d6736, #00fde8, #05a600, #ff7200, red);
}

.bg-test2 {
    background-clip: text;
    color: transparent;
    text-shadow: none;
}

.mt-5 {
    margin-top: 3rem;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

h3 {
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 1.2;
}

nav {
    display: block;
}

ul {
    margin-bottom: 1rem;
}

textarea.form-control {
    height: auto;
}

textarea.EditorBuilder-form {
    height: auto;
}

textarea {
    overflow: auto;
    resize: both;
}

/*label {*/
/*    display: inline-block;*/
/*    margin-bottom: .5rem;*/
/*}*/
.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}


.collapse-button {
    margin-bottom: 1rem;
    margin-right: .5rem;
    display: inline-block;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.collapse-ico {
    width: 2rem;
    height: 2rem;
}

.collapse:not(.show) {
    display: none;
}

.collapse_settings {
    display: flex;
    align-items: center;
}
