/* border обводка
height - обозначение высоты
width - ширина
Убрать зависимость в отступах(margin, padding)
pagination navbar form control footer
*/
* {
    box-sizing: border-box;
    font-family: roboto sans-serif;
}

body {
    font-size: 1rem;
    line-height: 1.5;
    color: #212529;
}

html {
    background-color: #aaaaaa;
    /*word-wrap: break-word;*/
    /*overflow-wrap: break-word;*/
}

.container {
    padding-top: 120px; /* 70 default*/
    max-width: 1140px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    /*position: relative;*/
    /*display: flex;*/
}


.form-group {
    margin-bottom: 1rem;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    margin-bottom: 10px;
    /*border: 1px #767676 solid;*/
    /*width: fit-content;*/
}


.cabinet {
    position: relative;
    display: flex;
    min-width: 0;
    /*word-wrap: break-word;*/
    /*background-color: #e0e0e0;*/
    background-color: darkgrey;
    color: #e0e0e0;
    /*color: #5ea214;*/
    background-clip: border-box;
    /*border: 1px solid rgba(0,0,0,.125);*/
    border: orange 2px solid;
    border-radius: .25rem;
    /*width: 44rem; */
    width: fit-content;
}

.nav-button {
    margin-left: .25rem;
    margin-right: .25rem;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.nav-button:last-of-type {
    margin-right: 1.5rem;
}

/* Само меньше в файлах юзаются*/

.bg-light {
    background-color: #f8f9fa;
}


.navbar {
    background-color: #f8f9fa;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    border-top: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    color: rgba(0, 0, 0, .9);
}


.flex-align-center {
    display: flex;
    align-items: center
}

.flex {
    display: flex;
}

.table {
    display: table;
}

.container-fluid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.navbar-brand {
    color: rgba(0, 0, 0, .9);
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}


/* Вероятно необходимо перенести пагинацию и добавить фильтры и поиск*/
.post {
    /*width: 100%;*/
    /*display: inline-block;*/
    /*display: block;*/
    /*position: relative;*/
    margin: 0;
}
.button-nearby-post {
        margin-left: .25rem;
        margin-right: .25rem;
        display: inline-block;
        font-weight: 400;
        text-align: center;
        user-select: none;
        background-color: transparent;
        border: 1px solid transparent;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: .25rem;
        transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.post-body { /* container? */
    border-radius: 5px;
    background-color: #c5c3c3;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    border-top: 1px solid #aaaaaa;
    border-right: 1px solid #aaaaaa;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.post-body:first-child {
    border-top: 0;
}

.post-body:last-of-type {
    border-bottom: 1px solid #aaaaaa;
}

.post-header{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.post-toolbar{
    border-radius: 20px;
    background-color: #6c6c6c;
    /*background-color: #aaaaaa;*/
    border-bottom: 1px solid #aaaaaa;
    color: darkorange;
}



.post-title {
    color: #007bff;
    font-size: large;
    position: relative;
    text-align: right;
    margin-bottom: 0.3rem;
}

.post-content{
    position: relative;
    /*text-align: right;*/
    margin-bottom: 0.2rem;
}
.post-publication-date{
    /*list-style: none;*/
    list-style: none;
margin-left: 50rem;
    top: 10px;
    color: darkgoldenrod;
}

.card-title {
    margin-bottom: .75rem;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

.card-text {
    color: #5ea214;
    margin-bottom: .75rem;
    /*color: #ffd700;*/
}

.card-text:last-child {
    margin-bottom: 0;
    /*color: #ffd700;*/
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, .03);
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.post-toolbar-down{
    border-radius: 10px;
    /*background-color: #212529;*/
    background-color: #aaaaaa;
}

.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
    position: relative;
    top: +7px;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    line-height: 1.25;
    /*border: 1px solid #dee2e6;*/
}

.justify-content-center {
    justify-content: center;
}

.logout-color {
    color: #dc3545;
    border-color: #dc3545;
}

.logout-color:hover {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.user-color {
    color: #17a2b8;
    border-color: #17a2b8;
}

.user-color:hover {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}


.auth-color {
    color: #007bff;
    border-color: #007bff;
}

.auth-color:hover {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.builder-color {
    color: #ffc107;
    border-color: #ffc107;
}

.builder-color:hover {
    color: #fff;
    background-color: #ffc107;
    border-color: #ffc107;
}

.auth-button {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.avatar {
    border-radius: 50%;
    border-style: none;
    padding: .25rem;
    width: 45px;
    height: 45px;
}

.user {
    padding: .5rem;
}

.footer {
    display: block;

    position: marker;
    background-color: #f8f9fa;

    padding: 1rem;

    margin-top: 6rem;

}


.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.latestPosts {
    display: flex;
    flex-wrap: wrap;
    padding: .5rem;
    margin-bottom: .5rem;
}

.p-3 {
    padding: 1rem;
}

.mb-3 {
    margin-bottom: 1rem;
}

.mt-3 {
    margin-top: 1rem;
}

.mt-5 {
    margin-top: 3rem;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

.text-muted {
    color: #6c757d;
}

.mt-2 {
    margin-top: .5rem;
}

h3 {
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 1.2;
}

nav {
    display: block;
}

ul {
    margin-top: 0;
    margin-bottom: 1rem;
}


textarea input button {
    margin: 0;
}

input {
    margin: 0;
}

textarea.form-control {
    height: auto;
}

textarea {
    overflow: auto;
    /*resize: vertical;*/
    resize: both;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
}

.bg-test {
    background: linear-gradient(60deg, #0d6736, #00fde8, #05a600, #ff7200, red);
}

.bg-test2 {
    background-clip: text;
    color: transparent;
    text-shadow: none;
}


