/* border обводка
height - обозначение высоты
width - ширина
Убрать зависимость в отступах(margin, padding)
pagination navbar form control footer
color через hover плохая идея
*/
* {
    box-sizing: border-box;
    font-family: roboto sans-serif;
}

body {
    font-size: 1rem;
    line-height: 1.5;
    color: #212529;
}

html {
    /*background-color: #222222;*/
    background-color: #f8f9fa
}

.container {
    padding-top: 120px; /* 70 default*/
    max-width: 1140px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


.form-group {
    margin-bottom: 1rem;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    margin-bottom: 10px;
    /*border: 1px #767676 solid;*/
    /*width: fit-content;*/
}

.nav-button {
    margin-left: .25rem;
    margin-right: .25rem;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.nav-button:last-of-type {
    margin-right: 1.5rem;
}

.navbar {
    background-color: #f8f9fa;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    border-top: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    color: rgba(0, 0, 0, .9);
}

.container-fluid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.navbar-brand {
    color: rgba(0, 0, 0, .9);
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}


/* Вероятно необходимо перенести пагинацию и добавить фильтры и поиск */
.post {
    margin: 0;
}

.button-nearby-post {
    margin-left: .25rem;
    margin-right: 40px;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.post__body { /* container? */
    color: #084c9a;
    border-radius: 5px;
    background-color: transparent;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    border: 5px solid transparent;
    flex-direction: column;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.post__body:hover {
    transform: scale(1.02);
    box-shadow: 0.25rem 0 0.5rem rgba(94, 94, 94, 0.3), -0.25rem 0 0.5rem rgba(94, 94, 94, 0.3);
}


.post__body-colors {
    border-top: 1px solid #aaaaaa;
    border-right: 1px solid #aaaaaa;
    background-color: #c5c3c3;
}

.post-title {
    margin-top: 0.25rem;
    margin-bottom: 0.2rem;
    display: flex;
    font-size: large;
    position: relative;
    text-align: right;
}

.post-title:first-of-type {
    color: #007bff;
}


.post-content {
    margin-top: 0.3rem;
    font-size: large;
    position: relative;
    top: -0.7rem;
}

.post-tags {
    margin-top: 0.5rem;
}

.post_read-more {
    font-size: smaller;
}

.post-publication-date {
    list-style: none;
    top: 10px;
    color: darkgoldenrod;
    text-align: right;
}

.post-header {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.post-toolbar {
    border-radius: 20px;
    background-color: #6c6c6c;
    border-bottom: 1px solid #aaaaaa;
    color: darkorange;
    margin-bottom: 5px;
}

.profile {
    margin: 0;
    border: 8px solid transparent;
    color: #ffffff
}

.profile-body {
    display: flex;
    background: #4a4a4a; /* Slightly brighter card background */
    border: 2px solid #ff6200; /* Orange peel outline */
    border-radius: 0.5rem;
    width: fit-content;
    flex-wrap: wrap;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.profile-body:hover {
    box-shadow: 0.375rem 0 0.75rem rgba(255, 98, 0, 0.4), -0.375rem 0 0.75rem rgba(255, 98, 0, 0.4); /* Enhanced glow on hover */
}

.profile_info {
    margin-bottom: 0.3rem;
}

.avatar-full {
    border-radius: 5px;
    width: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    /*border-radius: .25rem;*/
    position: relative;
    /*top: +7px;*/
}

.pagination-body {
    margin-left: .95rem;
    margin-right: .95rem;
}

.toolbar-search-body {
    margin-right: .5rem;
}

.Toolbar-text {
    margin-right: 4.5rem;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.page-item:first-child .page-link {
    margin-left: 0;
    border-radius: .25rem;
}

.post_edit-body {
    text-align: right;
    position: relative;
    top: -7rem;
}

.post-edit {
    padding: .25rem;
    width: 45px;
    height: 45px;
}

.page-link {
    color: #ffffff;
    position: relative;
    display: block;
    padding: .5rem .75rem;
    line-height: 1.25;
    /*border: 1px solid #dee2e6;*/
}

.post-filter {
    color: #d1c5c5;
    margin-right: .25rem;
}

.post-toolbar-down {
    margin-left: 23.55rem;
    margin-right: 24.5rem;
    border-radius: 10px;
    /*background-color: #212529;*/
    background-color: #aaaaaa;
}

.profile-title {
    margin-top: .1rem;
    margin-bottom: .1rem;
    color: #e0e0e0;
    font-size: x-large;
    position: relative;
    /*bottom: 2.55rem;*/
    margin-left: 0.3rem;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

.card-text {
    margin-bottom: .75rem;
    /*color: #ffd700;*/
}

.card-text:last-child {
    margin-bottom: 0;
    /*color: #ffd700;*/
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, .03);
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.justify-content-center {
    justify-content: center;
}

.logout-color {
    color: #dc3545;
    border-color: #dc3545;
}

.logout-color:hover {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.user-color {
    color: #17a2b8;
    border-color: #17a2b8;
}

.user-color:hover {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}


.auth-color {
    color: #007bff;
    border-color: #007bff;
}

.auth-color:hover {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.builder-color {
    color: #28a745;
    border-color: #28a745;
}

.builder-color:hover {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.profile-role {
    background-color: #9c9694;
    color: #ffffff;
}

.collapse-body {
    margin-bottom: 1rem;
    margin-right: .5rem;
}

.collapse-color {
    color: #6c6c6c;
    border-color: #6c6c6c;
}

.collapse-color:hover {
    color: #fff;
    background-color: #6c6c6c;
    border-color: #6c6c6c;
}

.auth-button {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.avatar {
    border-radius: 50%;
    border-style: none;
    padding: .25rem;
    width: 45px;
    height: 45px;
}

.collapse-ico {
    width: 2rem;
    height: 2rem;
}

.user {
    padding: .5rem;
}

.username-color {
    color: #212529;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.username-color:hover {
    color: #212529;
}

.footer {
    display: block;

    position: marker;
    background-color: #f8f9fa;

    padding: 1rem;

    margin-top: 6rem;

}


.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.latestPosts {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: .5rem;
}

.mb-3 {
    margin-bottom: 1rem;
}

.mt-3 {
    margin-top: 1rem;
}


.text-muted {
    color: #6c757d;
}

.bg-test {
    background: linear-gradient(60deg, #0d6736, #00fde8, #05a600, #ff7200, red);
}

.bg-test2 {
    background-clip: text;
    color: transparent;
    text-shadow: none;
}

.mt-5 {
    margin-top: 3rem;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

h3 {
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 1.2;
}

nav {
    display: block;
}

ul {
    margin-top: 0;
    margin-bottom: 1rem;
}


textarea input button {
    margin: 0;
}

input {
    margin: 0;
}

textarea.form-control {
    height: auto;
}

textarea {
    overflow: auto;
    resize: both;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
}

.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
