{% extends 'base.twig' %}
{% block title %}
Comment Editor
{% endblock %}
{% block body %}
<form method="POST" action="" enctype="multipart/form-data" class="Editor_body">
    <div class="Editor-forms">
        <label>
            <textarea required class="Editor-form" name="content" rows="3"
                placeholder="You Comment content">{{ comment.content }}</textarea>
        </label>
            </div>
            {% include 'Navigation/FormToolbar.twig' %}
    <div class="form__body-button">
        <button type="submit" class="form-button user-color">Save editing</button>
    </div>
</form>
{% endblock %}
