{% extends 'base.twig' %}
{% block title %}
    Builder New Posts
{% endblock %}
{% block body %}
    <form method="POST" action="{{ url('posts') }}">
        <div class="BuilderEditor_body-form">
            <div class="BuilderEditor_header-form">
                <label>
                    <input required type="text" class="EditorBuilder-form" name="title" placeholder="You Post Name">
                    <textarea required class="EditorBuilder-form" name="content" rows="3"
                              placeholder="You Post content"></textarea>
                </label>
                <div class="attachment-BuilderEditor__body">
                    <div class="attachment-BuilderEditor-content">
                        <label for="avatar">Custom <br>Uploading<br> your Icon</label>
                        <input type="file" id="avatar" name="avatar" accept="image/**" style="display:none;"/>
                    </div>
                </div>
            </div>

            <div class="form__body-button">
                <button type="submit" class="form-button user-color"> Push Public post</button>
            </div>
        </div>
    </form>
{% endblock %}