{% extends 'base.twig' %}

{% block body %}
    <form method="POST" action="{{ url('posts/new') }}">
        <div class="form-group">
            <label for="exampleFormControlInput1">Text</label>
            <input type="text" class="form-control" name="title" placeholder="You Post Name">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Text</label>
            <textarea class="form-control" name="url_key" rows="1" placeholder="You Tag"></textarea>
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Example textarea</label>
            <textarea class="form-control" name="content" rows="3" placeholder="You Post content"></textarea>
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Example textarea</label>
            <textarea class="form-control" name="description" rows="3"
                      placeholder="You Post description"></textarea>
        </div>
        <button type="submit" class="btn btn-info mx-1"> Push Public post</button>
    </form>


{% endblock %}