{% extends 'base.twig' %}
{% block title %}
    Builder New Posts
{% endblock %}
{% block body %}
    <form method="POST" action="{{ url('posts') }}">
        <div class="form_body_EditorBuilder">
            <div class="form-color">
                <label>
                    <input required type="text" class="form_EditorBuilder little-form" name="title" placeholder="You Post Name">
                </label>

                <label>
                <textarea required class="form_EditorBuilder" name="content" rows="3"
                          placeholder="You Post content"></textarea>
                </label>
                <div class="form__body-button">
                    <button type="submit" class="form-button user-color"> Push Public post</button>
                </div>
            </div>
        </div>

    </form>
{% endblock %}