{% extends 'base.twig' %}
{% block title %}
    Builder New Posts
{% endblock %}
{% block body %}
    <form method="POST" action="{{ url('posts') }}">
        <div class="form-group">
            <label>
                Post Title
                <input required type="text" class="form-control" name="title" placeholder="You Post Name">
            </label>
        </div>
        <div class="form-group">
            <label>
                Post Content
                <textarea required class="form-control" name="content" rows="3"
                          placeholder="You Post content"></textarea>
            </label>
        </div>
        <button type="submit" class="nav-button user-color mx-1"> Push Public post</button>
    </form>


{% endblock %}