{% extends 'base.twig' %}
{% block title %}
    Builder New Posts
{% endblock %}
{% block body %}
    <form method="POST" action="{{ url('posts') }}" enctype="multipart/form-data" class="Builder_body">
    <div style='margin-top: 0.25rem;'>
                        <select name="tags" id="tags" class="Builder-tags">
                            <option selected>Latest Update</option>
                            <option>New Posts!</option>
                        </select>
                        <input required type="text" class="Builder-form" name="title" placeholder="You Post Name">
                        <input required type="text" class="Builder-form" name="tags" placeholder="You Tags Name">
                        <textarea required class="Builder-form" name="content" rows="3"
                                  placeholder="You Post content"></textarea>
                     
    <div class="Builder-attachments__body">
                            <label for="avatar">Custom <br>Uploading<br> your Icon</label>
                            <input type="file" id="avatar" name="avatar" accept="image/**" style="display:none;"/>
                            </div>
    </div>
                                                         <span class="form__body-button">
                    <button type="submit" class="form-button user-color">Push Public post</button>
                </span>
                        {# </div> #}
    </form>
{% endblock %}
