{% extends 'base.twig' %}

{% block title %}
    Access Request to Delete Post
{% endblock %}
{% block body %}
    <div class="container">
        <div class="delete_body">
            <div class="delete_body-colors">
            <div style="margin-bottom: 5rem;">
        <div class="delete_title">Are you serious about removing this</div>
                <div class="nav-button cancel-button-color">No, I need some more thinking</div>
                <div class="nav-button delete-button-color">Yes, I'm thinking and aware</div>
            </div>
            </div>
        </div>
    </div>
{% endblock %}
