{% extends 'base.twig' %}

{% block title %}
Removing your comments...
{% endblock %}
{% block body %}
<div class="container">
    <div class="delete_body">
        <div class="delete_body-colors">
            <div style="margin-bottom: 5rem;">
                <div class="delete_title alert alert-danger-dark">If you sure click red button</div>
                    <a class="nav-button cancel-button-color" href="{{ url('posts' ) ~ post.id  }}">Don't remove </a>
                    <form method="POST" action="{{ url('posts/delete/' ~ post.id ~ 'comments/' ~ comment.id ~ 'initial') }}" class="delete_form">
                        <button type="submit" class="nav-button delete-button-color">Remove it</button>
                    </form>
                </div>
            </div>
        </div>
        </div>
{% endblock %}
