<footer class="footer__body footer__body-colors">
<div class="footer-title"> 
{# Почему-то не переносит блок на следующую строчку Баг репорт #}
        <a href="#"><img src="/footer-link/github.png" alt="github" class="footer-img">
        <div class="footer-github">GitHub</div></a>
        <a href="#"><img src="/footer-link/twitter.svg" alt="X(twitter)" class="footer-img">
        <div class="footer-twitter">Twitter</div></a>
        <a href="#"><img src="/footer-link/facebook.svg" alt="Facebook" class="footer-img">
        <div class="footer-facebook">FaceBook</div></a>
        <a href="#"><img src="/footer-link/telegram.png" alt="telegram" class="footer-img">
        <div class="footer-telegram">Telegram</div></a>
</div>
</footer>
