{#<div class="submit">#}
{#    <a href="submit">You are finded bugged? Submit please</a>#}
{#</div>#}
<div class="footer-title">
    <div style="margin-right: 0.5rem;">
        <a href="https://github.com/kisapablo/Test_Forum"><img src="/footer-link/github.png" alt="X(twitter)" class="footer-img"></a>
        <div class="footer-github">GitHub</div>
    </div>
    <div style="margin-right: 0.5rem;">
        <a href="https://x.com"><img src="/footer-link/twitter.png" alt="X(twitter)" class="footer-img"></a>
        <div class="footer-twitter">Twitter</div>
    </div>
    <div style="margin-right: 0.5rem;">
        <a href="https://www.facebook.com"><img src="/footer-link/facebook.png" alt="X(twitter)" class="footer-img"></a>
        <div class="footer-facebook">FaceBook</div>
    </div>
    <div>
        <a href="https://t.me"><img src="/footer-link/telegram.png" alt="X(twitter)" class="footer-img"></a>
        <div class="footer-telegram">Telegram</div>
    </div>

</div>
