<footer class="footer__body">
<div class="footer__body-colors">
<a href="submit">
        <span class="footer-submit">
        You are finded bugged? Submit Please
        </span></a> 
<div class="footer-title"> 
        <a href="https://github.com/kisapablo/Test_Forum"><img src="/footer-link/github.png" alt="github" class="footer-img">
        <span class="footer-github">GitHub</span></a>
        <a href="https://x.com"><img src="/footer-link/twitter.png" alt="X(twitter)" class="footer-img">
        <span class="footer-twitter">Twitter</span></a>
        <a href="https://www.facebook.com"><img src="/footer-link/facebook.png" alt="Facebook" class="footer-img">
        <span class="footer-facebook">FaceBook</span></a>
        <a href="https://t.me"><img src="/footer-link/telegram.png" alt="telegram" class="footer-img">
        <span class="footer-telegram">Telegram<span></a>
</div>
</div>
</footer>
