<div class="Builder-attachments__body">
    <span class="Builder-attachments-color">
        <label for="avatar">
            <img src="/footer-link/uploading.png" alt="" class="upload-ico">Upload
            <input type="file" id="avatar" name="avatar" accept="image/**" style="display:none;" />
        </label>

        <span style="margin-left: .5rem;">
            <button class="collapse-button collapse-color" type="button" data-toggle="collapse"
                data-target="#toolbarCollapse" aria-expanded="false" aria-controls="toolbarCollapse">
                <img class="collapse-ico" src="/footer-link/preview.png" alt="">
                <span {# class="Toolbar-text" #}>Preview</span>
            </button>
                    </span>
                        </span>
                        </div>
            <div class="collapse" id="toolbarCollapse">
                <div class="collapse_settings" style="justify-content: center;">
                    <div class="form-toolbar form-header">
                    {% include 'postform.twig' %}
                    </div>
                </div>
            </div>

