{% extends 'base.twig' %}

{% block title %}
Leader Board for Karma
{% endblock %}
{% block body %}
    
    {# {% for userkarma in karma %} #}
        
    {# {% endfor %} #}

<div> You rate {{ user.name }} {{ karmaSession }} </div>

{% endblock %}
