{% extends 'base.twig' %}

{% block title %}
Leader Board for Karma
{% endblock %}
{% block body %}

    <div class="Leader__body">
    {#     <div class="Leader__body-colors"> #}
    {#         <div class="leader-text"> #}
    {#     <div>1. Vasya</div> #}
    {#     <div>5M Karma</div> #}
    {#         </div> #}
    {#         <div class="leader-text"> #}
    {#             <div>{{ leaderboard }}. {{ user.name }}</div> #}
    {#             <div>1k Karma</div> #}
    {#         </div> #}
    {# </div> #}
    <div> 
    LeaderBoard not added :D
    </div>
    </div>
{% endblock %}
