<nav class="navbar navbar-light bg-light fixed-top border-top border-bottom">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ base_url() }}">MyApp</a>
        {% if userInfo is null %}
            <div class="d-flex">
                <a class="btn btn-outline-primary mx-1" href="{{ url('log-in') }}">Log In</a>
                <a class="btn btn-outline-primary mx-1" href="{{ url('user/reg') }}">Register</a>
            </div>
        {% endif %}
        {% if userInfo is not null %}
            <div>
                {{ userInfo['name'] }}
            </div>
        {% endif %}
    </div>
</nav>