<nav aria-label="Forum pagination">
    <div class="pagination-body">
        <ul class="pagination">
            {% if pagination.current > 1 %}
            <li class="page-item">
                <a class="page-link" href="{{ url(baseUrl ~ 'page=') ~ (pagination.current - 1) }}"
                    aria-label="Previous"> Previous
                </a>
            </li>
            {% endif %}
            {% for page in pagination.current.. min(pagination.pagesCount, pagination.current + 2) %}
            <li class="page-item {% if pagination.current == page %} active {% endif %}">
                <a class="page-link" href="{{ url( baseUrl ~ 'page=' ~ page) }}">{{ page }}</a>
                {# Переход кнопке там где цифры #}
            </li>
            {% endfor %}
            {% if pagination.current < pagination.pagesCount %}
            <li class="page-item"><a class="page-link"
                    href="{{ url( baseUrl ~ 'page=' ~ (pagination.current + 1) ) }}">Next</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
