{% extends 'base.twig' %}

{% block body %}
    <div class="card" style="width: 18rem;">
        <img src="/public/images/kisapablo_classic.png" class="img-fluid card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title personal">Kisapablo Restress</h5>
            <h3 class="card-text">Account Info</h3>
            <p class="card-text">Register 2025year<br>100000 LVL 1M posts<br>Last Activity: 1hour ago</p>
            <a  class="btn btn-danger">Administrator</a>
        </div>
    </div>

{% endblock %}