{% extends 'base.twig' %}
{% block title %}
    Post Editor
{% endblock %}
{% block body %}
    <form method="post" action="{# {{ url('user/posts') }} #}">
        <div class="form_body_EditorBuilder">
            <div class="form-color">
            <label>
                {# Editable Post title #}
                <input required type="text" class="form-control" name="title" placeholder="You Post Name"
                       value="{{ post.title|escape }}">
                {#  Editable Post Content #}
                <textarea required class="form-control" name="content" rows="3"
                          placeholder="You Post content">{{ post.content }}</textarea>
            </label>
        </div>
        </div>
        <button type="submit" class="nav-button user-color mx-1"> Push Public post</button>
    </form>


{% endblock %}
