{% extends 'base.twig' %}
{% block title %}
    Post Editor
{% endblock %}
{% block body %}
    <form method="POST" action="" enctype="multipart/form-data">
        <div class="BuilderEditor_body">
            <div class="BuilderEditor__body-colors">
                <div class="EditorBuilder-forms">
                    <label class="label-form">
                        {# Editable Post title #}
                        <input required type="text" class="post-form" name="title" placeholder="You Post Name"
                               value="{{ post.title|escape }}">
                        {#  Editable Post Content #}
                        <input required type="text" class="post-form" name="{#tags#}" placeholder="You Tags Name" value="{{ tags.tags|default('tags') }}">
                        <textarea required class="post-form" name="content" rows="3"
                                  placeholder="You Post content">{{ post.content }}</textarea>
                    </label>
                    <div class="attachment-BuilderEditor__body">
                        <div class="attachment-BuilderEditor-content">
                            <label for="attachment">Custom <br>Uploading<br> your Icon</label>
                            <input type="file" id="avatar" name="attachment" accept="image/**" style="display:none;"/>
                        </div>
                    </div>
                </div>
                <div class="form__body-button">
                    <button type="submit" class="form-button user-color">Save editing</button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
