{% extends 'base.twig' %}
{% block title %}
    Post Editor
{% endblock %}
{% block body %}
    <form method="post" action="">
        <div class="BuilderEditor_body-form">
            <div class="BuilderEditor_header-form">
                <label>
                    {# Editable Post title #}
                    <input required type="text" class="EditorBuilder-form" name="title" placeholder="You Post Name"
                           value="{{ post.title|escape }}">
                    {#  Editable Post Content #}
                    <textarea required class="EditorBuilder-form" name="content" rows="3"
                              placeholder="You Post content">{{ post.content }}</textarea>
                </label>
                <div class="attachment-BuilderEditor__body">
                    <div class="attachment-BuilderEditor-content">
                        <label for="avatar">Custom <br>Uploading<br> your Icon</label>
                        <input type="file" id="avatar" name="avatar" accept="image/**" style="display:none;"/>
                    </div>
                </div>
            </div>
            <div class="form__body-button">
                <button type="submit" class="form-button user-color">Save editing</button>
            </div>
        </div>
    </form>


{% endblock %}