{% extends 'base.twig' %}
{% block title %}
Select Avatar
{% endblock %}
{% block body %}
<div class="container-fluid">
    <h1 class="latestPosts">Выберите иконку из ниже предоставленных.</h1>
    <form method="POST" action="{{ url('user/icons/debug') }}" class="IconPreview__body IconPreview-visible-colors">
    <div class="IconPreview__header">
    {% for icon in dicons %}
                <label class="IconPreview-icon IconPreview-bodycolors">
                    <input type="radio" name="selected_icon" value="{{ icon.id }}" style="display: none;">
                    <img src="{{ icon.icon_name }}" alt="One Icon" class="IconPreview-avatar">
                </label>
            {% endfor %}
            </div>
        <div class="IconPreview-button">
            <button type="submit" class="nav-button user-color">Готово</button>
        </div>
    </form>
</div>
{% endblock %}
