{% extends 'base.twig' %}
{% block title %}
    Final Registration Stage
{% endblock %}
{% block body %}
    <div class="container-fluid">
        <h1 class="latestPosts">Финальный этап регистрации</h1>
        <form method="POST" action="{{ url('debug') }}" enctype="multipart/form-data" class="mb-5">
        <div class="ico__view-body">
    <span class="ico__view-bodycolors">
        <span class="text-avatar">One ico</span>
        <img src="/public/images/default_ico/kisapablo_classic(copy).png" alt="One Icon" class="select-avatar">
    </span>
            <span class="ico__view-bodycolors">
        <span class="text-avatar">One ico</span>
        <img src="/public/images/default_ico/kisapablo_classic(copy).png" alt="One Icon" class="select-avatar">
    </span>
            <span class="ico__view-bodycolors">
        <span class="text-avatar">One ico</span>
        <img src="/public/images/default_ico/kisapablo_classic(copy).png" alt="One Icon" class="select-avatar">
    </span>
            <span class="ico__view-bodycolors">
        <span class="text-avatar">One ico</span>
        <img src="/public/images/default_ico/kisapablo_classic(copy).png" alt="One Icon" class="select-avatar">
    </span>
        </div>
        <div class="ico__view-body">
    <span class="ico__view-bodycolors">
        <span class="text-avatar">Two ico</span>
        <img src="/public/images/default_ico/minikisapablo.png" alt="One Icon" class="select-avatar">
    </span>
            <span class="ico__view-bodycolors">
        <span class="text-avatar">Two ico</span>
        <img src="/public/images/default_ico/minikisapablo.png" alt="One Icon" class="select-avatar">
    </span>
            <span class="ico__view-bodycolors">
        <span class="text-avatar">Two ico</span>
        <img src="/public/images/default_ico/minikisapablo.png" alt="One Icon" class="select-avatar">
    </span>
            <span class="ico__view-bodycolors">
        <span class="text-avatar">Two ico</span>
        <img src="/public/images/default_ico/minikisapablo.png" alt="One Icon" class="select-avatar">
    </span>
        </div>
        <div class="mt-3">
            <button type="submit" class="nav-button user-color mx-1">Готово</button>
        </div>
        </form>
    </div>
{% endblock %}