<button class="collapse-button collapse-color" type="button" data-toggle="collapse"
        data-target="#toolbarCollapse" aria-expanded="false" aria-controls="toolbarCollapse">
    <img class="collapse-ico" src="/public/images/default_ico/favicon.png" alt="Hello">
    <span {# class="Toolbar-text" #}>Toolbar</span>
</button>
<div class="collapse" id="toolbarCollapse">
    <div class="collapse_settings">

        <div class="post-toolbar post-header">
            {% include 'Navigation/pagination.twig' with pagination %}
{#            search=') ~ (posts )#}
            {# Мб будет так-же в форм поиска#}
            <div class="post-filter__body">
                <label for="filter">
                    <select name="filter" id="filter" class="form-control">
                        <option selected value="jorik">Latest Update</option>
                        <option value="jor">New Posts!</option>
                    </select>
                </label>
            </div>
            <form method="get" action="{{ url('posts?') }}" class="search-header">
                <label class="toolbar-search-body">
                    Поиск
                    <input type="search" class="form-control" name="search" placeholder="Search">
                    <input type="search" class="form-control" name="author" placeholder="Search with author_id">
                    <button type="submit" class="nav-button builder-color">Search</button>
                    {#                    <a type="" class="nav-button builder-color">Search</a>#}
                </label>
            </form>
{#            {% if user is not null %}#}
{#                <span class="search-header">Тут может что то появится со временем</span>#}
{#                {% else %}#}
{#                {% endif %}#}
        </div>
    </div>
</div>