<button class="collapse-button collapse-color" type="button" data-toggle="collapse"
        data-target="#toolbarCollapse" aria-expanded="false" aria-controls="toolbarCollapse">
    <img class="collapse-ico" src="/public/images/default_ico/favicon.png" alt="Hello">
    <span {# class="Toolbar-text" #}>Toolbar</span>
</button>
<div class="collapse" id="toolbarCollapse">
    <div class="collapse_settings">

        <div class="post-toolbar post-header">
            {% include 'Navigation/pagination.twig' with pagination %}
{#            search=') ~ (posts )#}
            <form method="get" action="{{ url('posts?') }}" class="mb-5">
                <label class="toolbar-search-body">
                    Поиск
                    <input type="search" class="form-control" name="search" placeholder="Search">
                    <input type="search" class="form-control" name="author" placeholder="Search with author_id">
                    <label for="filter" class="post-filter__body">
                        <select {# name="filter" id="filter" #} class="form-control">
                            <option selected value="">Latest Update</option>
                            <option value="">New Posts!</option>
                        </select>
                    </label>
                    <button type="submit" class="nav-button builder-color">Search</button>
                    {#                    <a type="" class="nav-button builder-color">Search</a>#}
                </label>
            </form>
            {# Мб будет так-же в форм поиска#}
            {% if user is not null %}
            <a type="button" class="button-nearby-post builder-color"
               href="{{ url('posts/builders') }}">
                Publish new post
                {% else %}
                {% endif %}
            </a>
        </div>
    </div>
</div>