{% extends 'base.twig' %}
{% block title %}
    User Editor
{% endblock %}
{% block body %}
    <form method="POST" action="{{ url('user/UserEditor/debug') }}" enctype="multipart/form-data">
        <div class="form_body_EditorBuilder">
            <div class="form-color">
                <label>
                    <input required type="text" class="form_EditorBuilder" name="Username" placeholder="Username"
                           value="{{ user.name }}">
                </label>
                <label>
                    <input required type="text" class="form_EditorBuilder" name="Userpass"
                           placeholder="Update your Password"
                           value="{{ generatedhash }}">
                </label>
                <label>
                    <textarea required class="form_EditorBuilder" name="content" rows="3"
                              placeholder="Bio">Jorikk</textarea>
                </label>


                <div class="form__body-button">
                    <button type="submit" class="form-button user-color">Submit Comment</button>
                    <input type="file" id="avatar" name="avatar" class="" accept="image/**"/>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
