{% extends 'base.twig' %}

{% block body %}
    <div class="container">
        <h3 class="mt-3 latestPosts">Latest Posts</h3>
        <div class="container-fluid">
            <div class="post-toolbar post-header">
                {% include 'Navigation/pagination.twig' with pagination %}
                {% if user is not null %}
                    <label>
                    Поиск
                            <input type="text" class="form-control" name="title" placeholder="Search">
                        <input type="text" class="form-control" name="title" placeholder="Search with author_id">
                    </label>
                    <a type="button" class="button-nearby-post builder-color" href="{{ url('posts/builders') }}">Public new
                        post(Beta) </a>
                    <span>Toolbar</span>
                {% endif %}
            </div>
        {% include 'Navigation/posts.twig' with posts %}
{#        <a href="{{ url('posts') }}">View all</a>#}
            <div class="post-toolbar-down">
        {% include 'Navigation/pagination.twig' with pagination %}
            </div>
            </div>
    </div>
{% endblock %}