{% extends 'base.twig' %}

{% block body %}
    <div style="height: 1500px; padding-top: 70px;">
        <div class="container">
            <h1>Page not found!</h1>
        </div>
    </div>
{% endblock %}
