{% extends 'base.twig' %}
{% block title %}
    Authorization
{% endblock %}
{% block body %}
        <div class="authentication__MainBody">
            <div class="authentication_color">
                <div class="Authentication__title">
                    <h3>Авторизация пользователя</h3>
                </div>
                {% if message %}
                    <div class="alert {% if message starts with 'Ошибка' %}alert-danger-dark{% else %}alert-success-dark{% endif %}"
                         role="alert">
                        {{ message }}
                    </div>
                {% endif %}
                <form method="POST" action="/user/login" class="authentication__formBody">
                    <div class="authentication__formUserName">
                        <label for="login" class="form-label authentication__formUserName">
                                                    Логин
                        <input type="text" class="authentication__forms" name="login" id="login"
                               placeholder="Введите логин" required>
                               </label>
                        <label for="password" class="form-label authentication__formPassword">
                                                    Пароль
                        <input type="password" class="authentication__forms" name="password" id="password"
                               placeholder="Введите пароль" required>
                               </label>
                    <div class="authentication__formSubmit">
                        <button type="submit" class="authentication-button auth-button">Войти</button>
                    </div>
                    </div>
                </form>
            </div>
        </div>
{% endblock %}
